.form_title{
	position:absolute;
	top: -16px;
	left:0px;
	width:100%;
	background:#80FFFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.form_exit{
	position:absolute;
	right: 0px;
	width:60px;
	height:24px;
	background:#FF0000;
}
.form_exit:hover{
	background:#FF8080;
}
.forms{
border: 4px solid #80FFFF ;
}