body{
color: #FFFFFF;
background: #000000;
}
button{
text-align:center;
}
.ndb {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  background: #000000;
  color: #00ff00;
  border: solid 2px #00ff00;
  border-radius: 3px;
  transition: .4s;
}

.ndb:hover {
  background: #008000;
  color: white;
}
td{
  width: 10vw;
  text-align:center;
}
.sel{
  width: 9vw;
 margin: 0.5vw auto;
}
.sel:hover{
  width: 11vw;
}
table{
  margin: auto;
}
#pic{
width: 45vw;
}
#pt{
width: 30vw;
}
.abs{
position: absolute; 
top: 7vh;
left: 44.5vw;
}
#ans{
width: 300px;
height: 50px; 
font-size:30px;
}
.ch{
width: 200px;
height: 50px;
}
#mb{
width: 200px;
height: 50px;
}