div, h2{
	margin-top: 40px;
}
.nml{
background: #00a000;
color: #000000;
}
.dark{
background: #808080;
color: #ffffff;
}
.inf{
background: #ffff00;
color: #000000;
}
.cor{
background: #000000;
color: #ffffff;
}
.muo{
background: #ff8000;
color: #000000;
}
.cor_s{
background: #ff00ff;
color: #000000;
}
.evo{
background: #ff5a83;
color: #000000;
}
.rip{
background: #800000;
color: #FFFFFF;	
}
.spc{
	background: #0053e2;
	color: #FFFFFF;	
}
input[type="number"]{
	font-size: 24px;
}
ol {
  counter-reset: counter;
  list-style-type: none;
}
li{
  padding-top: 10px;
  padding-bottom: 10px;
}
li::before {
  counter-increment: counter;
  content: counters(counter, '.') ' ';
}