body{
color: #FFFFFF;
background: #000000;
}
.main button{
text-align:center;
  width: 8vw;
  height: 8vw;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #c6c6c6;/*ボタン色*/
  color: #000000;
  border: solid 0.8vw #717171;
  font-size: 2.5vw;
}
.main button:hover{
    background: #e4e4e4;/*ボタン色*/
    border: solid 1vw #838383;
}
.main button:active{
      background: #505050;/*ボタン色*/
      border: solid 1vw #838383;
}
.cont button{
      text-align:center;
      width: 32vw;
      height: 8vw;
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      background: #c6c6c6;/*ボタン色*/
      color: #000000;
      border: solid 0.8vw #717171;
      font-size: 2.5vw;
    }
    .main button:hover{
        background: #e4e4e4;/*ボタン色*/
        border: solid 1vw #838383;
    }
    .main button:active{
          background: #505050;/*ボタン色*/
          border: solid 1vw #838383;
}
.cont button:hover{
    background: #e4e4e4;/*ボタン色*/
    border: solid 1vw #838383;
}
.cont button:active{
      background: #505050;/*ボタン色*/
      border: solid 1vw #838383;
}
.num{
    font-size: 5vw;
    background: #FFFFFF;
    color: #000000;
}
.mult{
    font-size: 5vw;
}
img{
    vertical-align: middle;
    width: 30vw;
}
div{
    text-align: center;
}
table{
    margin: auto;
}
.akeome{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}