.list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    margin: 10px 10px;
    width: 300px;
    height: 300px;
    background: #39A0C0;
    border: 2px solid #000;
    border-radius: 10px;
}
.item img{
    margin-top: 10px;
    width: 60%!important;
    height: 60%;
    object-fit: cover;
    border: 2px solid #000;
}

@media screen and (max-width: 768px) {
.item{
    margin: 1vw 1vw;
    width: 44vw;
    height: 90vw;
}
.item img{
    margin-top: 5px;
    width: 50%!important;
    height: 26%;
}
}